@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$brand-primary: darken(#000af5, 10%);
body{
  background-color: #eaeaea;
}

h1 {
  margin-top: 80px;
}

.navbar-default {
  background-color: #03004d;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  .navbar-brand {
    color: white;
    font-weight: bold;
    &:hover {
      color: #bfbfbf;
    }
  }
  .navbar-nav {
    li {
      a {
        color: white;
        font-weight: bold;
        &:hover {
          color: #bfbfbf;
        }
      }
    }
  }
}