@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$brand-primary: darken(#000af5, 10%);
body {
  background-color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-top: 80px;
}

.navmargin {
  margin-top: 80px;
}

.navbar-default {
  background-color: black;
  .navbar-brand {
    color: white;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
  .navbar-nav {
    li {
      a {
        color: white;
        font-weight: bold;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.thumbnail {
  background-color: #f3f3f3;
  border-radius: 0;
  img {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
}

.bottompage {
  margin-bottom: 80px;
}