@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$brand-primary: darken(#428bca, 20%);
body{
  color: $brand-primary;
}

h1 {
  margin-top: 70px;
}

.navbar-default {
  background-color: orange;
  .navbar-brand {
    color: black;
  }
  .navbar-nav {
    li {
      a {
        color: black;
      }
    }
  }
}